---
import { Image } from 'astro:assets'
import Layout from '@/layouts/Layout.astro'
import { FinanceCloverShowcase, FinanceCloverView } from '@/assets'
---

<Layout
  description='Full-Stack Finance Dashboard with Data Analysis applied to a prediction in a regression line for the mock revenue'
  title='Finance Clover - Data Analysis Powered Dashboard'
  className='bg-background'
  label='Works'
  link='/en/works'
  border='border-gray-800'>
  <main
    class='w-screen mt-20 md:mt-10 md:px-24 relative flex flex-col justify-center items-center gap-10 md:gap-20'>
    <div class='w-full bg-[#2d2d34] text-center h-[700px] flex justify-center'>
      <h1
        class='font-prata text-[11vw] text-[#3ba697] self-center md:self-end md:leading-[11rem]'>
        FINANCE CLOVER
      </h1>
    </div>
    <h2
      class='text-[7vw] md:text-[3vw] font-prata max-w-[700px] md:leading-[4rem] my-10 px-5 md:p-0'>
      Full-Stack Finance Dashboard with Data Analysis applied to a prediction in
      a regression line for the mock revenue utilizing this techs
    </h2>
    <div
      class='flex flex-col md:flex-row justify-between items-start gap-3 md:gap-5 md:px-10 px-5'>
      <div class='flex-1 space-y-2'>
        <h3 class='font-bold md:text-lg'>React</h3>
        <p class='text-sm md:text-base'>
          React allows you to build user interfaces from individual pieces
          called components. Create your own React components like Thumbnail,
          LikeButton, and Video. Then combine them to form screens, pages, and
          applications.
        </p>
        <a
          href='https://es.react.dev/'
          target='_blank'
          class='hover-underline-animation text-sm font-bold'>More info.</a
        >
      </div>
      <div class='flex-1 space-y-2'>
        <h3 class='font-bold md:text-lg'>Material UI</h3>
        <p class='text-sm md:text-base'>
          MUI offers a comprehensive suite of free UI tools to help you ship new
          features faster. Start with Material UI, our fully-loaded component
          library, or bring your own design system to our production-ready
          components.
        </p>
        <a
          href='https://mui.com/'
          target='_blank'
          class='hover-underline-animation text-sm font-bold'>More info.</a
        >
      </div>
      <div class='flex-1 space-y-2'>
        <h3 class='font-bold md:text-lg'>Recharts</h3>
        <p class='text-sm md:text-base'>
          A composable charting library built on React components, specially
          design for fast and accesible apps
        </p>
        <a
          href='https://recharts.org/en-US/'
          target='_blank'
          class='hover-underline-animation text-sm font-bold'>More info.</a
        >
      </div>
      <div class='flex-1 space-y-2'>
        <h3 class='font-bold md:text-lg'>Regression</h3>
        <p class='text-sm md:text-base'>
          Regression is a JavaScript module containing a collection of linear
          least-squares fitting methods for simple data analysis.
        </p>
        <a
          href='https://www.npmjs.com/package/regression'
          target='_blank'
          class='hover-underline-animation text-sm font-bold'>More info.</a
        >
      </div>
    </div>
    <Image src={FinanceCloverShowcase} alt='Finance Clover Website Showcase' />
    <p class='max-w-[800px] px-5 md:px-0 text-sm md:text-base'>
      Employing React, Material UI, and robust backend technologies such as a
      Node server with Express and MongoDB is pivotal in crafting a powerful
      finance dashboard app. React's component-based architecture ensures a
      dynamic and responsive user interface, facilitating seamless data
      interaction. Material UI enhances the app's visual appeal with a sleek
      design language and ready-to-use components. On the backend, Node with
      Express ensures efficient server-side operations, while MongoDB handles
      data storage and retrieval with scalability. This integration of front-end
      excellence with solid backend technologies provides a robust foundation
      for data analysis, empowering the finance dashboard app with speed,
      functionality, and a user-friendly interface.
    </p>
    <video autoplay muted loop class='w-full mb-10'>
      <source src={FinanceCloverView} type='video/mp4' /></video
    >
  </main>
  <div
    class='fixed bottom-10 right-10 p-3 md:p-5 text-left rounded-lg space-y-2 bg-[#2d2d34]'>
    <a
      href='https://github.com/N4N1T0/financeclover-app'
      target='_blank'
      class='text-sm md:text-base hover-underline-animation-widget'>CODE</a
    >
    <a
      href='https://financeclover-app.vercel.app/'
      target='_blank'
      class='text-sm md:text-base hover-underline-animation-widget'>LIVE</a
    >
  </div>
  <div
    class='absolute bg-gray-800 w-screen inset-0 z-0 origin-bottom'
    id='courtin'>
  </div>
</Layout>

<style>
  .hover-underline-animation-widget {
    display: block;
    position: relative;
    color: #3ba697;
  }

  .hover-underline-animation-widget::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #3ba697;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .hover-underline-animation-widget:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  html {
    scrollbar-color: #3ba697 #baccfc;
  }
</style>

<script>
  import anime from 'animejs/lib/anime.es.js'

  anime({
    targets: '#courtin',
    scaleY: [1, 0],
    duration: 700,
    easing: 'easeInExpo',
  })
</script>
