---
import Layout from '@/layouts/Layout.astro'
import { works } from '@/constants'
import { urlNames } from '@/lib'
---

<Layout
  description='Explore a compilation of my finest endeavors spanning Web Design and Development. In a dynamic digital landscape'
  title='Adrian - Works'
  className='text-gray-300'
  label='Home'
  link='/en/'
  border='border-gray-300'>
  <main
    class='w-screen p-10 mt-20 md:p-24 relative flex flex-col md:flex-row justify-around items-center gap-16 md:gap-32 z-10'>
    <aside
      class='space-y-3 self-end z-10 sticky bottom-24 flex-1 opacity-0'
      id='info'>
      <h1 class='font-semibold tracking-widest'>Projects</h1>
      <p class='text-sm'>
        Explore a compilation of my finest endeavors spanning Web Design and
        Development. In a dynamic digital landscape, my role has transformed
        over the past 3 years, adapting to the ever-evolving realms of design
        and development. I remain committed to continuous learning, consistently
        acquiring new skills to stay at the forefront of innovation.
      </p>
    </aside>
    <articule
      class='font-prata md:space-y-10 space-y-5 flex-1 opacity-0'
      id='links'>
      {
        works.map((work) => (
          <div>
            <a
              href={
                work.inProcess ? '/works' : `/en/works/${urlNames(work.name)}`
              }
              class='text-[12vw] uppercase md:text-[7vw] block hover:-skew-x-12 hover:translate-x-10 transition-all duration-500 leading-[0.95em] ease-out'>
              <h2>{work.name}</h2>
            </a>
            <p class='text-xs md:text-base font-sans pl-5 inline'>
              - {work.info}
              {work.new && (
                <span class='py-1 px-2 ml-3 bg-slate-200 text-gray-950 rounded-xl animate-pulse'>
                  New
                </span>
              )}
              {work.inProcess && (
                <span class='py-1 px-2 ml-3 bg-slate-200 text-gray-950 rounded-xl animate-pulse'>
                  Coming Soon
                </span>
              )}
            </p>
          </div>
        ))
      }
    </articule>
  </main>
  <div
    class='absolute bg-gray-800 w-screen inset-0 z-0 origin-bottom scale-0'
    id='courtin'>
  </div>
</Layout>

<style>
  html {
    scrollbar-color: #d1d5db #1f2937;
  }
</style>

<script>
  import anime from 'animejs/lib/anime.es.js'

  anime
    .timeline({
      easing: 'easeOutExpo',
    })
    .add({
      targets: '#courtin',
      scaleY: [0, 1],
      duration: 700,
    })
    .add(
      {
        targets: '#links',
        opacity: 1,
        duration: 500,
      },
      500
    )
    .add(
      {
        targets: '#info',
        opacity: 1,
        translateY: [50, 0],
        delay: anime.stagger(100),
        duration: 600,
      },
      700
    )
</script>
