---
import { Image } from 'astro:assets'
import Layout from '@/layouts/Layout.astro'
import { NFCShowcase, NFCStyle } from '@/assets'
---

<Layout
  description='Combat Sports Coach site using the Newest tecnologies of Astro to create max performance and enhanced SEO Static Sites'
  title='Nano Fighters Club - Astro Static Site'
  className='bg-background'
  label='Works'
  link='/en/works'
  border='border-gray-800'>
  <main
    class='w-screen mt-20 md:mt-10 md:px-24 relative flex flex-col justify-center items-center gap-10 md:gap-20'>
    <div class='w-full bg-[#020817] text-center h-[700px] flex justify-center'>
      <h1
        class='font-prata text-[11vw] text-[#f64646] self-center md:self-end md:leading-[11rem]'>
        NANO FIGHTERS CLUB
      </h1>
    </div>
    <h2
      class='text-[7vw] md:text-[3vw] font-prata max-w-[700px] md:leading-[4rem] my-10 px-5 md:p-0'>
      Combat Sports Coach site using the Newest tecnologies of Astro to create
      max performance and enhanced SEO Static Sites in combine with:
    </h2>
    <div
      class='flex flex-col md:flex-row justify-between items-start gap-3 md:gap-5 md:px-10 px-5'>
      <div class='flex-1 space-y-2'>
        <h3 class='font-bold md:text-lg'>Astro</h3>
        <p class='text-sm md:text-base'>
          Astro builds fast content sites, powerful web applications, dynamic
          server APIs, and everything in-between.
        </p>
        <a
          href='https://astro.build/'
          target='_blank'
          class='hover-underline-animation text-sm font-bold'>More info.</a
        >
      </div>
      <div class='flex-1 space-y-2'>
        <h3 class='font-bold md:text-lg'>Shadcn UI</h3>
        <p class='text-sm md:text-base'>
          Beautifully designed components that you can copy and paste into your
          apps. Accessible. Customizable. Open Source.
        </p>
        <a
          href='https://ui.shadcn.com/'
          target='_blank'
          class='hover-underline-animation text-sm font-bold'>More info.</a
        >
      </div>
      <div class='flex-1 space-y-2'>
        <h3 class='font-bold md:text-lg'>Tailwind</h3>
        <p class='text-sm md:text-base'>
          A utility-first CSS framework packed with classes like flex, pt-4,
          text-center and rotate-90 that can be composed to build any design,
          directly in your markup.
        </p>
        <a
          href='https://tailwindcss.com/'
          target='_blank'
          class='hover-underline-animation text-sm font-bold'>More info.</a
        >
      </div>
    </div>
    <Image src={NFCShowcase} alt='Nano Fighters Club Website Showcase' />
    <p class='max-w-[800px] px-5 md:px-0 text-sm md:text-base'>
      For crafting dynamic static sites for small businesses, I choose Astro for
      its lightning-fast performance, enabling rapid page loads and an
      exceptional user experience. Shadcn contributes to the visual appeal,
      providing a robust and efficient solution for shadow generation, enhancing
      the site's aesthetics without compromising speed. Tailwind CSS streamlines
      the design process, offering a utility-first approach that accelerates
      development while maintaining a polished and responsive layout. This trio
      of Astro, Shadcn, and Tailwind seamlessly blends speed, visual appeal, and
      design efficiency, empowering small businesses with a static site that not
      only looks impressive but also performs optimally for a standout online
      presence.
    </p>
    <Image src={NFCStyle} alt='Nano Fighters Club Gold Website Style' />
  </main>
  <div
    class='fixed bottom-10 right-10 p-3 md:p-5 text-left rounded-lg space-y-2 bg-[#020817]'>
    <a
      href='https://github.com/N4N1T0/nfc-astro-shadcn'
      target='_blank'
      class='text-sm md:text-base hover-underline-animation-widget'>CODE</a
    >
    <a
      href='https://www.nanofighters.club/es/'
      target='_blank'
      class='text-sm md:text-base hover-underline-animation-widget'>LIVE</a
    >
  </div>
  <div
    class='absolute bg-gray-800 w-screen inset-0 z-0 origin-bottom'
    id='courtin'>
  </div>
</Layout>

<style>
  .hover-underline-animation-widget {
    display: block;
    position: relative;
    color: #f64646;
  }

  .hover-underline-animation-widget::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #f64646;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .hover-underline-animation-widget:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  html {
    scrollbar-color: #f64646 #baccfc;
  }
</style>

<script>
  import anime from 'animejs/lib/anime.es.js'

  anime({
    targets: '#courtin',
    scaleY: [1, 0],
    duration: 700,
    easing: 'easeInExpo',
  })
</script>
