---
// Project Imports
import Layout from "@/layouts/Layout.astro";

// Assets Imports
import { ToughShowcase, ToughStyle } from "@/assets";
---

<Layout
  description='Striking sports equipment ecommerce, inspired by the Everlast website'
  title='Tough - Ecommerce Site'
  className='bg-background'
  label='Works'
  link='/en/works'
  border='border-gray-800'>
  <main
    class='w-screen mt-20 md:mt-0 md:px-24 relative flex flex-col justify-center items-center gap-10 md:gap-20'>
    <div class='w-full bg-gray-950 text-center h-[500px] flex justify-center'>
      <h1 class='font-prata text-[11vw] text-gray-50 self-center md:self-end'>
        TOUGH
      </h1>
    </div>
    <h2
      class='text-[7vw] md:text-[3vw] font-prata max-w-[700px] md:leading-[4rem] my-10 px-5 md:p-0'>
      Striking sports equipment ecommerce, inspired by the Everlast website and
      Made with this Technologies:
    </h2>
    <div
      class='flex flex-col md:flex-row justify-between items-start gap-3 md:gap-5 md:px-10 px-5'>
      <div class='flex-1 space-y-2'>
        <h3 class='font-bold md:text-lg'>Next.js</h3>
        <p class='text-sm md:text-base'>
          Used by some of the world's largest companies, Next.js enables you to
          create full-stack Web applications by extending the latest React
          features, and integrating powerful Rust-based JavaScript tooling for
          the fastest builds.
        </p>
        <a
          href='https://nextjs.org/'
          target='_blank'
          class='hover-underline-animation text-sm font-bold'>More info.</a
        >
      </div>
      <div class='flex-1 space-y-2'>
        <h3 class='font-bold md:text-lg'>Supabase</h3>
        <p class='text-sm md:text-base'>
          Supabase is an open source Firebase alternative. Start your project
          with a Postgres database, Authentication, instant APIs, Edge
          Functions, Realtime subscriptions, Storage, and Vector embeddings.
        </p>
        <a
          href='https://supabase.com/'
          target='_blank'
          class='hover-underline-animation text-sm font-bold'>More info.</a
        >
      </div>
      <div class='flex-1 space-y-2'>
        <h3 class='font-bold md:text-lg'>Shadcn UI</h3>
        <p class='text-sm md:text-base'>
          Beautifully designed components that you can copy and paste into your
          apps. Accessible. Customizable. Open Source.
        </p>
        <a
          href='https://ui.shadcn.com/'
          target='_blank'
          class='hover-underline-animation text-sm font-bold'>More info.</a
        >
      </div>
      <div class='flex-1 space-y-2'>
        <h3 class='font-bold md:text-lg'>Stripe</h3>
        <p class='text-sm md:text-base'>
          Millions of businesses of all sizes use Stripe online and in person to
          accept payments, send transfers, automate financial processes and
          ultimately increase revenue.
        </p>
        <a
          href='https://stripe.com/es'
          target='_blank'
          class='hover-underline-animation text-sm font-bold'>More info.</a
        >
      </div>
    </div>
    <img src={ToughShowcase.src} alt='Tough Website Showcase' />
    <p class='max-w-[800px] px-5 md:px-0 text-sm md:text-base'>
      In crafting robust e-commerce solutions, I leverage the power of Next.js
      for its seamless rendering and efficient server-side rendering
      capabilities. This not only ensures a swift and responsive user experience
      but also facilitates optimal search engine performance. Supabase serves as
      the backbone, providing a scalable and secure database infrastructure,
      allowing for seamless data management and real-time collaboration.
      Integrating Stripe into the ecosystem ensures a seamless and secure
      payment process, empowering the e-commerce platform with reliability and
      flexibility. Together, Next.js, Supabase, and Stripe form a triad of
      technologies that converge to create a high-performance, secure, and
      feature-rich e-commerce experience.
    </p>
    <img src={ToughStyle.src} alt='Tough Website Style' />
  </main>
  <div
    class='fixed bottom-10 right-10 p-3 md:p-5 text-left rounded-lg space-y-2 bg-black text-white'>
    <a
      href='https://github.com/N4N1T0/tough-ecommerce'
      target='_blank'
      class='text-sm md:text-base hover-underline-animation-widget'>CODE</a
    >
    <a
      href='https://tough-ecommerce.vercel.app/'
      target='_blank'
      class='text-sm md:text-base hover-underline-animation-widget'>LIVE</a
    >
  </div>
  <div
    class='absolute bg-gray-800 w-screen inset-0 z-0 origin-bottom'
    id='courtin'>
  </div>
</Layout>

<style>
  .hover-underline-animation-widget {
    display: block;
    position: relative;
  }

  .hover-underline-animation-widget::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .hover-underline-animation-widget:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  html {
    scrollbar-color: #000000 #baccfc;
  }
</style>

<script>
  import anime from 'animejs/lib/anime.es.js'

  anime({
    targets: '#courtin',
    scaleY: [1, 0],
    duration: 700,
    easing: 'easeInExpo',
  })
</script>
