---
import type { CollectionEntry } from 'astro:content'

interface Props {
  project: CollectionEntry<'projects'>
}

const { project } = Astro.props
const { excerpt } = project.data
---

<h2
  id='subtitle'
  class='animate-fade-in-up animate-delay-700 my-10 text-[6vw] uppercase md:p-0 md:text-[2vw] md:leading-16'
>
  {excerpt}
</h2>
