---
import type { CollectionEntry } from 'astro:content'

interface Props {
  data: CollectionEntry<'projects'>
}

const { data } = Astro.props
---

<section
  class='flex w-full justify-center overflow-hidden text-center'
  style={`background-color: ${'colors' in data.data ? data.data.colors[1] : 'transparent'};`}
>
  <h1
    id='title'
    class='font-prata animate-fade-in-down animate-delay-400 z-20 self-end text-balance uppercase'
    style={`color: ${'colors' in data.data ? data.data.colors[0] : 'inherit'};`}
  >
    {data.data.testimonial.quote}
  </h1>
</section>
