---
import { Image } from 'astro:assets'
import PlaceholderOriginal from '@/assets/Placeholder-Original.webp'
import PlaceholderPantone from '@/assets/Placeholder-Pantone.webp'
import { useTranslations } from '@/i18n/utils'

interface Props {
  lang: 'es' | 'en'
  page: 'projects' | 'services' | 'blog'
}

const { lang, page } = Astro.props
const t = useTranslations(lang)
---

<header
  class='3xl:bottom-20 sticky bottom-10 z-10 flex max-w-[650px] flex-1 flex-col self-end'
  id='info'
>
  <Image
    src={PlaceholderOriginal}
    alt='Adrian Alvarez Alonso'
    width={400}
    height={400}
    format='webp'
    quality={80}
    loading='eager'
    class='fade-in hidden aspect-square w-full object-cover p-10 opacity-0 md:block'
    id='project-image'
    data-original={PlaceholderOriginal.src}
    data-pantone={PlaceholderPantone.src}
  />

  <div class='space-y-3'>
    <h1
      class='animate-fade-in-down animate-delay-500 text-4xl font-semibold tracking-widest'
    >
      {t(page)['heading']}
    </h1>
    <p class='animate-fade-in-down animate-delay-600 text-sm'>
      {t(page)['description']}
    </p>
  </div>
</header>
