@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&family=Prata&display=swap');
@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@plugin "@midudev/tailwind-animations";
@layer theme, base, components, utilities;
@variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: #a3bbfb;
  --color-foreground: #1f2937;
  --font-prata: 'Prata', serif;
  --font-montserrat: 'Montserrat', sans-serif;
}

@layer base {
  html,
  body {
    @apply m-0 box-border p-0 scheme-light dark:scheme-dark;
  }

  html {
    scrollbar-color: var(--color-foreground) var(--color-background);
  }

  .dark {
    --color-background: #a47864;
    --color-foreground: #f1e8df;
  }

  .animate-delay-600 {
    animation-delay: 600ms !important;
  }

  .hover-underline-animation {
    display: inline-block;
    position: relative;
  }

  .hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--color-background);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .hover-underline-animation-reverse {
    display: inline-block;
    position: relative;
  }

  .hover-underline-animation-reverse::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--color-foreground);
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
  }

  .hover-underline-animation-reverse:hover::after {
    transform: scaleX(1);
    transform-origin: bottom right;
  }

  .custom-prose {
    @apply prose text-foreground prose-headings:text-foreground prose-strong:text-foreground prose-li:marker:text-foreground prose-hr:border-foreground max-w-[1200px] px-5;
  }
}
