---
import Layout from '@/layouts/Layout.astro'
---

<Layout
  description='Contact page for my online web development business Portfolio with my contact info'
  title='Adrian - Contact'
  className='text-gray-300'
  label='Home'
  link='/en/'
  border='border-gray-300'>
  <main
    class='w-screen h-screen p-10 mt-20 md:p-24 relative justify-around items-center gap-16 md:gap-32 z-10'>
    <div class='p-0 md:p-10 space-y-5 opacity-0' id='info'>
      <h1 class='font-prata text-[12vw] md:text-[7vw] leading-[0.95em]'>
        Contact
      </h1>
      <div>
        <h2 class='block'>
          If you need any help with a Website or an App, dont hesitate to
          contact me
        </h2>
        <a
          href='https://www.nanofighters.club/es/'
          target='_blank'
          class='inline-block text-xs hover-underline-animation-widget'
          >or if you want a sparring too! &#128513; &#129354;</a
        >
      </div>
      <div class='space-y-2'>
        <p class='text-sm'>
          Email: <a
            href='mailto:adrian.alvarezalonso1991@gmail.com'
            class='hover-underline-animation-widget'
            >adrian.alvarezalonso1991@gmail.com</a
          >
        </p>
        <p class='text-sm'>
          Phone: <a
            href='tel:34-647-31-72-14'
            class='hover-underline-animation-widget'>+34 647 31 72 14</a
          >
        </p>
        <p class='text-sm'>
          On the Web: <a
            href='https://www.linkedin.com/in/adrian-%C3%A1lvarez-alonso/'
            target='_blank'
            class='hover-underline-animation-widget'>LinkedIn</a
          >
          /
          <a
            href='https://github.com/N4N1T0'
            target='_blank'
            class='hover-underline-animation-widget'>Github</a
          >
        </p>
      </div>
    </div>
  </main>
  <div
    class='absolute bg-gray-800 w-screen inset-0 z-0 origin-bottom scale-0'
    id='courtin'>
  </div>
</Layout>

<style>
  .hover-underline-animation-widget {
    position: relative;
  }

  .hover-underline-animation-widget::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .hover-underline-animation-widget:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  html {
    scrollbar-color: #d1d5db #1f2937;
  }
</style>

<script>
  import anime from 'animejs/lib/anime.es.js'

  anime
    .timeline({
      easing: 'easeOutExpo',
    })
    .add({
      targets: '#courtin',
      scaleY: [0, 1],
      duration: 700,
    })
    .add(
      {
        targets: '#info',
        opacity: 1,
        translateY: [50, 0],
        delay: anime.stagger(100),
        duration: 600,
      },
      700
    )
</script>
