---
import Heading from '@/components/home/Heading.astro'
import Nav from '@/components/home/Nav.astro'
import NewArticleModal from '@/components/home/NewArticleModal.astro'
import Courtain from '@/components/shared/Courtain.astro'
import Layout from '@/layouts/Layout.astro'
import { getFirstPost } from '@/lib'

const lastPost = await getFirstPost('en')
---

<Layout
  description='Cuban-born and self-taught, I bring a unique blend of passion and proficiency to web development and design'
  title='Adrian Alvarez Portfolio'
>
  <main
    class='mt-20 min-h-screen w-screen overflow-hidden p-10 md:mt-0 md:h-screen md:p-24'
  >
    <div
      class='flex h-full flex-col items-center gap-12 md:mt-0 md:flex-row md:justify-around md:gap-20'
    >
      <Heading lang='en' />
      <Nav lang='en' />
    </div>
  </main>
  <Courtain />
  <NewArticleModal article={lastPost} lang='en' />
</Layout>
