---
import Layout from '@/layouts/Layout.astro'
import { services } from '@/constants'
---

<Layout
  description='Embark on a journey through my dynamic expertise, spanning web design, development, maintenance, app design, development, and SEO audit'
  title='Adrian - Services'
  className='text-gray-300'
  label='Home'
  link='/en/'
  border='border-gray-300'>
  <main
    class='w-screen p-10 mt-20 md:p-24 relative flex flex-col md:flex-row justify-around items-center gap-16 md:gap-32 z-10'>
    <aside
      class='space-y-3 self-end z-10 sticky bottom-24 flex-1 opacity-0'
      id='info'>
      <h1 class='font-semibold tracking-widest'>Services</h1>
      <p class='text-sm'>
        Embark on a journey through my dynamic expertise, spanning web design,
        development, maintenance, app design, development, and SEO audit.
        Evolving with the digital landscape, I stay at the forefront of
        innovation, ensuring your digital presence thrives.
      </p>
      <a
        href='https://N4N0.redbubble.com'
        target='_blank'
        class='py-1 px-2 bg-slate-200 text-gray-950 rounded-xl animate-pulse inline-block md:text-base text-xs'
        >Graphic Designer Platform Page</a
      >
    </aside>
    <articule
      class='font-prata md:space-y-10 space-y-5 flex-1 opacity-0'
      id='links'>
      {
        services.map((service) => (
          <div>
            <h2 class='text-[12vw] md:text-[7vw] leading-[0.95em]'>
              {service.label}
            </h2>
            <h3 class='text-xs md:text-base font-sans pl-5 pt-5'>
              <hr class='w-5 inline-block' />
              {service.info}
            </h3>
          </div>
        ))
      }
      <hr class='w-full' />
      <div>
        <a
          href='/en/contact'
          class='text-[12vw] md:text-[7vw] block hover:-skew-x-12 hover:translate-x-10 transition-all duration-300 leading-[0.95em] ease-out'
          >CONTACT</a
        >
        <p class='text-xs md:text-base font-sans pl-5 inline'>
          Need help with anyone of this services?
          <span
            class='py-1 px-2 ml-3 bg-slate-200 text-gray-950 rounded-xl animate-pulse hidden md:inline'
            >No hesitate!</span
          >
        </p>
      </div>
    </articule>
  </main>
  <div
    class='absolute bg-gray-800 w-screen inset-0 z-0 origin-bottom scale-0'
    id='courtin'>
  </div>
</Layout>

<style>
  html {
    scrollbar-color: #d1d5db #1f2937;
  }
</style>

<script>
  import anime from 'animejs/lib/anime.es.js'

  anime
    .timeline({
      easing: 'easeOutExpo',
    })
    .add({
      targets: '#courtin',
      scaleY: [0, 1],
      duration: 700,
    })
    .add(
      {
        targets: '#links',
        opacity: 1,
        duration: 500,
      },
      500
    )
    .add(
      {
        targets: '#info',
        opacity: 1,
        translateY: [50, 0],
        delay: anime.stagger(100),
        duration: 600,
      },
      700
    )
</script>
