---
import { cn, getBorderColor, getHoverBorderColor } from '@/lib'

interface Props {
  link?: string
  label?: string
  className?: string
}

const { link, label, className } = Astro.props
console.log('🚀 ~ className:', className)
const border = getBorderColor(className)
const hoverAnimation = getHoverBorderColor(className)
---

<div
  class='flex h-full items-center justify-center space-x-5 pl-12 text-sm md:-rotate-90 md:space-x-10 2xl:pl-32'
>
  <hr class={cn('border-px w-10 md:w-20', border)} />
  {
    link === undefined ? (
      <>
        <a
          href='/es/'
          class='hover-underline-animation-reverse cursor-pointer'
          title='Version en español'
        >
          Español
        </a>
        <a
          href='/en/'
          class='hover-underline-animation-reverse cursor-pointer'
          title='English Version'
        >
          English
        </a>
      </>
    ) : (
      <a href={link} class={hoverAnimation}>
        {label}
      </a>
    )
  }
</div>
