---
import Layout from '@/layouts/Layout.astro'
---

<Layout
  title='Error 404 - Page Not Found'
  description='Error 404 - Page Not Found'
  className='text-gray-300'
  label='Home'
  link='/es/'
>
  <main
    class='relative z-10 mt-20 flex w-screen flex-col items-center justify-around gap-2 p-10 text-center opacity-0 md:min-h-screen md:gap-5 md:p-24'
    id='info'
  >
    <h1
      class='font-prata text-[12vw] leading-[0.95em] uppercase md:text-[7vw]'
      style='color: #fde047'
    >
      PAGE NOT FOUND
    </h1>
    <h2
      class='font-prata my-5 max-w-[700px] px-5 text-[7vw] md:p-0 md:text-[3vw] md:leading-16'
    >
      The page you are looking for does not exist.
    </h2>
    <h3 class='my-5 px-5 text-lg md:p-0'>
      You can go back to the home page and continue browsing
    </h3>
    <div class='flex items-center justify-center gap-5'>
      <a
        href='/es/'
        class='block text-xl leading-[0.95em] transition-all duration-300 ease-out hover:-skew-x-12'
        >ESPAÑOL</a
      >
      <a
        href='/en/'
        class='block text-xl leading-[0.95em] transition-all duration-300 ease-out hover:-skew-x-12'
        >ENGLISH</a
      >
    </div>
  </main>
  <div
    class='absolute inset-0 z-0 w-screen origin-bottom scale-0 bg-gray-800'
    id='courtin'
  >
  </div>
</Layout>

<style>
  html {
    scrollbar-color: #fde047 #1f2937;
  }
</style>

<script>
  import { animate } from 'animejs'

  animate('#courtin', {
    scaleY: [0, 1],
    duration: 700
  })
</script>
