---
import Layout from '@/layouts/Layout.astro'
---

<Layout
  title='Error 500 - Error Page'
  description='Error 500 - Error Page'
  className='text-gray-300'
  label='Home'
  link='/es/'
>
  <main
    class='relative z-10 mt-20 flex w-screen flex-col items-center justify-around gap-5 p-10 text-center opacity-0 md:min-h-screen md:p-24'
    id='info'
  >
    <h1
      class='font-prata text-[12vw] uppercase leading-[0.95em] md:text-[7vw]'
      style='color: #f87171'
    >
      SERVER ERROR
    </h1>
    <h2
      class='my-5 max-w-[700px] px-5 font-prata text-[7vw] text-red-400 md:p-0 md:text-[3vw] md:leading-[4rem]'
    >
      An unexpected error has occurred.
    </h2>
    <h3 class='my-5 px-5 text-lg md:p-0'>
      You can go back to the home page and continue browsing
    </h3>
    <div class='flex items-center justify-center gap-5'>
      <a
        href='/es/'
        class='block text-xl leading-[0.95em] transition-all duration-300 ease-out hover:-skew-x-12'
        >ESPAÑOL</a
      >
      <a
        href='/en/'
        class='block text-xl leading-[0.95em] transition-all duration-300 ease-out hover:-skew-x-12'
        >ENGLISH</a
      >
    </div>
  </main>
  <div
    class='absolute inset-0 z-0 w-screen origin-bottom scale-0 bg-gray-800'
    id='courtin'
  >
  </div>
</Layout>

<style>
  html {
    scrollbar-color: #f87171 #1f2937;
  }
</style>

<script>
  import anime from 'animejs/lib/anime.es.js'

  anime
    .timeline({
      easing: 'easeOutExpo'
    })
    .add({
      targets: '#courtin',
      scaleY: [0, 1],
      duration: 700
    })
    .add(
      {
        targets: '#info',
        opacity: 1,
        translateY: [50, 0],
        delay: anime.stagger(100),
        duration: 500
      },
      700
    )
</script>
