---
import Layout from '@/layouts/Layout.astro'
import SideNavbar from '@/components/SideNavbar.astro'
---

<Layout title='Adrian - About' className='bg-background'>
  <SideNavbar label='Home' link='/' border='border-gray-900' />
  <main
    class='w-screen mt-20 md:mt-10 md:px-24 relative flex flex-col justify-around items-center gap-10 md:gap-20'>
    <section class='flex w-full relative' id='about'>
      <div class='p-10 space-y-3 max-w-[800px]'>
        <p class='leading-8'>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam in
          veniam rem blanditiis, harum autem quaerat doloremque eligendi aperiam
          dolor quas nobis magnam numquam perferendis illo, illum nisi nostrum
          animi? Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          Laboriosam deleniti impedit iste aliquid, fuga blanditiis quas?
          Necessitatibus quod maiores atque deserunt, similique ad id iure,
          corporis ducimus quae accusamus aperiam!
        </p>
        <p class='leading-8'>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam in
          veniam rem blanditiis, harum autem quaerat doloremque eligendi aperiam
          dolor quas nobis magnam numquam perferendis illo, illum nisi nostrum
          animi? Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          Laboriosam deleniti impedit iste aliquid, fuga blanditiis quas?
          Necessitatibus quod maiores atque deserunt, similique ad id iure,
          corporis ducimus quae accusamus aperiam!
        </p>
        <p class='leading-8'>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam in
          veniam rem blanditiis, harum autem quaerat doloremque eligendi aperiam
          dolor quas nobis magnam numquam perferendis illo, illum nisi nostrum
          animi? Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          Laboriosam deleniti impedit iste aliquid, fuga blanditiis quas?
          Necessitatibus quod maiores atque deserunt, similique ad id iure,
          corporis ducimus quae accusamus aperiam!
        </p>
      </div>
      <aside class='sticky top-2 z-10 self-start'>
        <h1
          class='font-prata text-[12vw] md:text-[7vw] leading-[0.95em] p-10'
          transition:name='about'>
          About
        </h1>
      </aside>
    </section>
    <section class='flex w-full relative' id='experience'>
      <div class='p-10 space-y-3 max-w-[800px]'>
        <p class='leading-8'>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam in
          veniam rem blanditiis, harum autem quaerat doloremque eligendi aperiam
          dolor quas nobis magnam numquam perferendis illo, illum nisi nostrum
          animi? Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          Laboriosam deleniti impedit iste aliquid, fuga blanditiis quas?
          Necessitatibus quod maiores atque deserunt, similique ad id iure,
          corporis ducimus quae accusamus aperiam!
        </p>
        <p class='leading-8'>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam in
          veniam rem blanditiis, harum autem quaerat doloremque eligendi aperiam
          dolor quas nobis magnam numquam perferendis illo, illum nisi nostrum
          animi? Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          Laboriosam deleniti impedit iste aliquid, fuga blanditiis quas?
          Necessitatibus quod maiores atque deserunt, similique ad id iure,
          corporis ducimus quae accusamus aperiam!
        </p>
        <p class='leading-8'>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam in
          veniam rem blanditiis, harum autem quaerat doloremque eligendi aperiam
          dolor quas nobis magnam numquam perferendis illo, illum nisi nostrum
          animi? Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          Laboriosam deleniti impedit iste aliquid, fuga blanditiis quas?
          Necessitatibus quod maiores atque deserunt, similique ad id iure,
          corporis ducimus quae accusamus aperiam!
        </p>
      </div>
      <aside class='sticky top-2 z-10 self-start'>
        <h1 class='font-prata text-[12vw] md:text-[7vw] leading-[0.95em] p-10'>
          Experience
        </h1>
      </aside>
    </section>
    <section class='flex w-full relative' id='experience'>
      <div class='p-10 space-y-3 max-w-[800px]'>
        <p class='leading-8'>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam in
          veniam rem blanditiis, harum autem quaerat doloremque eligendi aperiam
          dolor quas nobis magnam numquam perferendis illo, illum nisi nostrum
          animi? Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          Laboriosam deleniti impedit iste aliquid, fuga blanditiis quas?
          Necessitatibus quod maiores atque deserunt, similique ad id iure,
          corporis ducimus quae accusamus aperiam!
        </p>
        <p class='leading-8'>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam in
          veniam rem blanditiis, harum autem quaerat doloremque eligendi aperiam
          dolor quas nobis magnam numquam perferendis illo, illum nisi nostrum
          animi? Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          Laboriosam deleniti impedit iste aliquid, fuga blanditiis quas?
          Necessitatibus quod maiores atque deserunt, similique ad id iure,
          corporis ducimus quae accusamus aperiam!
        </p>
        <p class='leading-8'>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam in
          veniam rem blanditiis, harum autem quaerat doloremque eligendi aperiam
          dolor quas nobis magnam numquam perferendis illo, illum nisi nostrum
          animi? Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          Laboriosam deleniti impedit iste aliquid, fuga blanditiis quas?
          Necessitatibus quod maiores atque deserunt, similique ad id iure,
          corporis ducimus quae accusamus aperiam!
        </p>
      </div>
      <aside class='sticky top-2 z-10 self-start'>
        <h1 class='font-prata text-[12vw] md:text-[7vw] leading-[0.95em] p-10'>
          Skills & Diplomas
        </h1>
      </aside>
    </section>
  </main>
</Layout>
