---
import SideNavbar from '@/components/SideNavbar.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title='Adrian - Contact' className='bg-gray-800 text-gray-300'>
  <SideNavbar label='Home' link='/' border='border-gray-300' />
  <main
    class='w-screen p-10 mt-20 md:p-24 relative justify-around items-center gap-16 md:gap-32'>
    <h1
      class='font-prata text-[12vw] md:text-[7vw] leading-[0.95em] p-10'
      transition:name='contact'>
      Contact
    </h1>
    <p class='text-sm'>
      Explore a compilation of my finest endeavors spanning Web Design and
      Development. In a dynamic digital landscape, my role has transformed over
      the past 3 years, adapting to the ever-evolving realms of design and
      development. I remain committed to continuous learning, consistently
      acquiring new skills to stay at the forefront of innovation.
    </p>
  </main>
</Layout>
