---
// Astro Imports
import type { CollectionEntry } from "astro:content";

// Project Imports
import Layout from "@/layouts/Layout.astro";

// Utilities Imports
import { getPosts } from "@/lib";

// Astro get Collection
const allBlogPosts: CollectionEntry<"blog">[] = await getPosts("es");
---

<Layout
  description='Explore una recopilación de mis mejores esfuerzos en Diseño y Desarrollo Web. En un panorama digital dinámico'
  title='Adrian - Blog'
  className='text-gray-300'
  label='Home'
  link='/es/'
  border='border-gray-300'>
  <main
    class='w-screen p-10 mt-20 md:p-24 relative flex flex-col md:flex-row justify-around items-center gap-16 md:gap-32 z-10'>
    <aside
      class='space-y-3 self-end sticky bottom-24 flex-1 opacity-0'
      id='info'>
      <h1 class='font-semibold tracking-widest'>Blog</h1>
      <p class='text-sm'>
        Explora mis artículos destacados sobre Diseño y Desarrollo Web,
        Marketing, SEO, Tech y Diseño Gráfico. Adéntrate en el apasionante
        universo digital de los últimos 3 años y acompáñame en este continuo
        viaje de aprendizaje e innovación. ¡Descubre las tendencias y novedades
        más recientes en estos emocionantes campos!
      </p>
    </aside>
    <articule
      class='font-prata md:space-y-12 space-y-5 flex-1 opacity-0'
      id='links'>
      {
        allBlogPosts.map((post) => (
          <div class='space-y-2'>
            <a
              href={`/es/blog/${post.slug}`}
              class='text-[7vw] uppercase md:text-[4vw] block hover:-skew-x-12 hover:translate-x-10 transition-all duration-500 leading-[0.95em] ease-out'>
              <h2>{post.data.title}</h2>
            </a>
            <p class='text-xs md:text-base font-sans pl-5 inline'>
              - {post.data.excerpt}
            </p>
            <strong class='py-1 px-2 ml-3 bg-slate-200 text-gray-950 rounded-xl block w-fit'>
              - {post.data.date.toLocaleDateString()}
            </strong>
          </div>
        ))
      }
    </articule>
  </main>
  <div
    class='absolute bg-gray-800 w-screen inset-0 z-0 origin-bottom scale-0'
    id='courtin'>
  </div>
</Layout>

<style>
  html {
    scrollbar-color: #d1d5db #1f2937;
  }
</style>

<script>
  import anime from 'animejs/lib/anime.es.js'

  anime
    .timeline({
      easing: 'easeInExpo',
    })
    .add({
      targets: '#courtin',
      scaleY: [0, 1],
      duration: 700,
    })
    .add(
      {
        targets: '#links',
        opacity: 1,
        duration: 500,
      },
      500
    )
    .add(
      {
        targets: '#info',
        opacity: 1,
        translateY: [50, 0],
        delay: anime.stagger(100),
        duration: 600,
      },
      700
    )
</script>
