---
import SocialMedia from '@/components/home/SocialMedia.astro'
import { useTranslations } from '@/i18n/utils'
import Pantone from './Pantone.astro'

interface Props {
  lang: 'es' | 'en'
}

const { lang } = Astro.props
const t = useTranslations(lang)
---

<header class='max-w-[500px] space-y-3 self-end text-pretty' id='info'>
  <Pantone />
  <h1
    class='animate-fade-in-down animate-delay-700 text-3xl font-semibold tracking-widest'
  >
    {t('home')['heading']}
  </h1>
  <p class='animate-fade-in-down animate-delay-600 text-sm'>
    {t('home')['role']}
  </p>
  <p class='animate-fade-in-down animate-delay-600 text-sm'>
    {t('home')['description']}
  </p>
  <SocialMedia />
</header>
