---
import type { CollectionEntry } from 'astro:content'

interface Props {
  article: CollectionEntry<'blog'>
}

const { article } = Astro.props
---

<article
  id='modal'
  class='absolute bottom-5 right-5 z-40 hidden w-[300px] animate-bounce space-y-1 bg-gray-800 p-3 text-gray-100 opacity-0 hover:[animation-play-state:paused] md:block'
  role='dialog'
  aria-labelledby='new-article-title'
  aria-hidden='true'
>
  <h5 id='new-article-title' class='font-prata text-xl uppercase'>
    Articulo Nuevo
  </h5>
  <a
    class='block text-sm transition duration-200 ease-out hover:text-gray-400 hover:underline'
    href={`${Astro.site}es/blog${article.id}`}
    aria-label={`Read more about ${article.data.title}`}>{article.data.title}</a
  >
</article>
