<div id='pantone' class='hidden opacity-0 dark:block'>
  <a
    href='https://www.pantone.com/articles/color-of-the-year/how-to-use-pantone-color-of-the-year-2025-mocha-mousse-in-products'
    target='_blank'
    rel='noopener noreferrer'
    class='mb-3 hidden w-44 flex-col items-start justify-between border-4 border-foreground text-sm transition-transform duration-500 ease-out hover:-translate-y-2 md:block'
  >
    <div class='aspect-square p-3'>
      <p class='font-prata uppercase'>
        Color of the Year <span class='font-bold'>2025</span>
      </p>
    </div>
    <div
      class='flex w-full flex-col items-start bg-foreground p-2 text-background'
    >
      <p class='font-prata text-xl font-black uppercase'>
        Pantone <span class='text-sm'>&copy; </span>
      </p>
      <p>17-1230</p>
      <p>Mocha Mousse</p>
    </div>
  </a>
</div>
