---
import { socialMedia } from '@/constants'
---

<div class='animate-fade-in-down animate-delay-500 w-fit'>
  <hr class='border-px border-foreground my-3 w-full' />
  <ul class='mt-5 flex gap-5 px-2'>
    {
      socialMedia.map(({ href, label, icon: Icon }) => (
        <li class='list-none' title={label}>
          <a
            href={href}
            target='_blank'
            rel='noopener noreferrer'
            class='group cursor-pointer'
          >
            <Icon class='fill-foreground h-6 w-6 transition-transform duration-150 ease-out group-hover:scale-110' />
          </a>
        </li>
      ))
    }
  </ul>
</div>
