---
import { socialMedia } from '@/constants'
---

<div class='w-fit'>
  <hr class='border-px my-3 w-full border-foreground' />
  <ul class='mt-5 flex gap-5 px-2'>
    {
      socialMedia.map(({ href, label, icon: Icon }) => (
        <li class='list-none' title={label}>
          <a
            href={href}
            target='_blank'
            rel='noopener noreferrer'
            class='group cursor-pointer'
          >
            <Icon class='h-6 w-6 fill-foreground transition-transform duration-150 ease-out group-hover:scale-110' />
          </a>
        </li>
      ))
    }
  </ul>
</div>
