---
import { shareLinks } from '@/constants'
---

<div
  id='share'
  class='fixed bottom-7 right-7 flex flex-col gap-2 bg-foreground p-3 text-left text-background opacity-0 transition-opacity duration-150 md:bottom-10 md:right-10 md:p-5'
>
  {
    shareLinks.map((link) => (
      <a
        href={link.href(Astro.url.href)}
        target='_blank'
        class='hover-underline-animation-widget w-fit text-sm md:text-base'
      >
        {link.label}
      </a>
    ))
  }
</div>
