---
import Layout from '@/layouts/Layout.astro'
import { fade } from 'astro:transitions'
import { diplomas } from '@/constants'
import { Image } from 'astro:assets'
import { ProfilePic } from '@/assets'
---

<Layout
  description='Pagina About de mi Portafolio Web, con informacion sobre mi experiencia, habilidades e informacion personal'
  title='Adrian - Acerca de mi'
  className='bg-background'
  label='Home'
  link='/es/'
  border='border-gray-800'>
  <main
    class='w-screen mt-20 md:mt-10 md:px-24 relative flex flex-col justify-around items-center gap-10 md:gap-20'
    transition:animate={fade({ duration: '0.5s' })}>
    <!-- ABOUT SECTION -->
    <section
      class='w-full flex flex-col-reverse md:flex-row relative'
      id='about'>
      <div class='md:p-10 px-10 space-y-5 max-w-[800px]'>
        <h3 class='font-prata text-3xl'>
          Mi nombre es Adrian, soy Front-end Developer y Designer.
        </h3>
        <p class='leading-8'>
          en parte Diplomado, en parte autodidacta, mezclando lo mejor de ambos
          mundos. I empecé mi viaje sumergiéndome en los entresijos de C y C++
          en la C y C++ en la escuela de informática, y luego cambié a los
          encantadores reinos de JavaScript y Python. La magia empezó cuando vi
          por primera vez Adobe Dreamweaver: fue entonces cuando la web me robó
          el corazón.
        </p>
        <p class='leading-8'>
          ¿Qué me enciende? La sencillez de teclear un código y crear algo
          visualmente atractivo. y crear algo visualmente atractivo. Es como el
          arte, pero con un pero con un toque técnico. Más allá de la pantalla,
          también soy un entusiasta de los deportes de combate y entrenador.
          Entiendo el ajetreo, la rutina y el dulce sabor de la victoria. de la
          victoria. Esa es la energía que aporto a la creación de maravillas web
          de alta calidad. una mezcla perfecta de código y espíritu de combate.
        </p>
        <p class='leading-8'>
          Esta es una de mis citas favoritas del 2 veces campeón de boxeo
          <a
            href='https://es.wikipedia.org/wiki/George_Foreman'
            target='_blank'
            class='hover-underline-animation font-semibold'>George Foreman</a
          >
        </p>
        <h3 class='font-prata text-3xl p-10'>
          “El luchador que lo da todo estará el año que viene. No guardes nada.
          Dalo todo.”
        </h3>
        <p class='leading-8'>
          En el ámbito del desarrollo web, esta cita resuena en mí como un como
          un poderoso recordatorio para abrazar cada proyecto con plena pasión.
          Al igual que un boxeador que lo da todo en el cuadrilátero, un que
          invierte de todo corazón en su trabajo garantiza un impacto impacto y
          relevancia duraderos. ¡Creemos algo increíble juntos!
        </p>
      </div>
      <aside class='hidden md:sticky md:block top-2 z-10 self-start'>
        <h1
          class='font-prata text-[7vw] leading-[0.95em] p-10'
          transition:name='about'>
          Acerca de mi
        </h1>
      </aside>
      <!-- EXPERIENCE SECTION -->
    </section>
    <section
      class='flex w-full flex-col-reverse md:flex-row relative'
      id='experience'>
      <div class='md:p-10 px-10 space-y-5 max-w-[800px]'>
        <h3 class='font-prata text-3xl md:p-10'>Mi odisea tecnológica</h3>
        <p class='leading-8'>
          Entre 2009 y 2012, senté mis bases tecnológicas iniciales en la
          Escuela de Informática "Mártires de Girón", donde perfeccioné mis
          habilidades gestión de redes y me convertí en la persona a la que
          acudir en caso de hardware.
        </p>
        <p class='leading-8'>
          Me aventuré en el ámbito del marketing digital de 2012 a 2018 en el
          Centro de Investigación "Inmunologia Molecular", elaboré estrategias
          web estrategias web convincentes y presté mi toque creativo a los
          esfuerzos de branding. Fue un período dinámico en el que la tecnología
          se unió a la creatividad, sentando las bases para mi mi viaje
          evolutivo.
        </p>
        <p class='leading-8'>
          La transición a la función de desarrollador front-end junior en
          "Desoft" de 2018 a 2020 marcó un capítulo importante. Allí, me sumergí
          en las complejidades del software Javascript, añadiendo un giro de
          análisis de datos a mi conjunto de habilidades. Fue un tiempo de
          aprendizaje, crecimiento y de abrazar el mundo acelerado del
          desarrollo de software.
        </p>
        <p class='leading-8'>
          Desde 2020, he estado capitaneando mi barco freelance, tejiendo mi
          única mezcla única de habilidades en cada proyecto de desarrollo y
          diseño web. Con una pasión por el diseño limpio y un compromiso
          inquebrantable con el rendimiento, Me embarco en cada proyecto con el
          objetivo de crear experiencias digitales que dejen una impresión
          duradera. Únete a mí en esta emocionante tecnológica.
        </p>
      </div>
      <aside class='hidden md:sticky md:block top-2 z-10 self-start'>
        <h2 class='font-prata text-[7vw] leading-[0.95em] p-10'>Experiencia</h2>
      </aside>
      <!-- SKILLS & DIPLOMAS SECTION -->
    </section>
    <section
      class='flex flex-col-reverse md:flex-row w-full relative'
      id='skills'>
      <div class='p-10 space-y-5 max-w-[800px]'>
        <p class='leading-8 text-lg'>
          HTML and CSS / JavaScript / Typescript / React / React Native /
          Next.js / GraphQL / Node / Express.js / Mongo & Mongoose / Astro /
          ThreeJS / Tailwind / Git & GitHub / UI/UX Design / Strategy / User
          Research / Agile Methodologies / Collaboration / Design Systems /
          Photography / Graphic Design
        </p>
        <hr class='border-gray-900' />
        <ul class='space-y-5'>
          {
            diplomas.map((diploma) => (
              <li>
                <a
                  href={diploma.link}
                  target='_blank'
                  class='hover-underline-animation inline'>
                  {diploma.label}
                </a>
              </li>
            ))
          }
        </ul>
        <a
          href={`${Astro.site}es/Adrian_Alvarez_Alonso_CV.pdf`}
          target='_blank'
          class='py-3 mt-10 inline-block px-4 bg-slate-200 text-gray-950 rounded-xl cursor-pointer hover:bg-background hover:text-white duration-200 transition-colors'
          >Download my CV</a
        >
      </div>
      <aside class='md:sticky top-2 z-10 self-start'>
        <h2
          class='font-prata text-3xl md:text-[7vw] leading-[0.95em] md:p-10 px-10'>
          Habilidades & Diplomas
        </h2>
      </aside>
    </section>
    <!-- PROFILE SECTION -->
    <section class='flex w-full relative mb-10 md:px-20 px-10' id='profile'>
      <Image
        src={ProfilePic}
        alt='Adrian Alvarez Profile Picture'
        height={400}
        width={400}
      />
      <div class='absolute bottom-0 flex flex-col p-5 md:p-10'>
        <h2 class='font-prata text-[10vw] md:text-[7vw] leading-[0.95em]'>
          Adrian Alvarez
        </h2>
        <p class='text-xs md:text-base font-sans inline self-end py-2'>
          ¿Necesita ayuda para crear un sitio web atractivo?<a
            class='py-1 px-2 ml-3 bg-slate-200 text-gray-950 rounded-xl cursor-pointer hover:bg-background hover:text-white duration-200 transition-colors'
            href='/es/contact'>Contacto</a
          >
        </p>
      </div>
    </section>
  </main>
</Layout>
