---
// Project Imports
import Layout from '@/layouts/Layout.astro'

// Utilities Imports
import {
  handleResponseFromQuery,
  generateWhatsAppLink,
  generateEmailLink,
  desUrlNames
} from '@/lib'

// Query Params
const { searchParams } = Astro.url
const query = searchParams.get('service')

// Services Response Handler
const response = handleResponseFromQuery(query, 'es')
---

<Layout
  description='Página de contacto para mi negocio de desarrollo web en línea Portafolio con mi información de contacto'
  title='Adrian - Contacto'
  className='text-gray-300'
  label='Home'
  link='/es/'
  border='border-gray-300'
>
  <main
    class='w-screen min-h-screen p-10 mt-20 md:p-24 relative justify-around items-center gap-16 md:gap-32 z-10'
  >
    <div class='p-0 md:p-10 space-y-5 opacity-0' id='info'>
      <h1
        class='font-prata text-[12vw] md:text-[7vw] leading-[0.95em] uppercase'
      >
        Contacto
      </h1>
      <div>
        <h2 class='block'>
          Si necesitas ayuda con un sitio web o una aplicación, no dudes en
          contactarme
        </h2>
        <a
          href='https://www.nanofighters.club/es/'
          target='_blank'
          class='inline-block text-xs hover-underline-animation-widget'
          >o si quieres un sparring tambien! &#128513; &#129354;</a
        >
      </div>

      <!-- Info Section -->
      {
        response !== null ? (
          <div class='space-y-3 max-w-[700px]'>
            <hr />
            <p class='uppercase'>Posible Mensage</p>
            <h4 class='font-prata md:text-3xl text-2xl'>{response}</h4>
            <div class='flex gap-3 justify-start items-start'>
              <a
                href={generateWhatsAppLink(response)}
                target='_blank'
                rel='noopener noreferrer'
                class='animate-pulse hover-underline-animation-widget'
              >
                Whatsapp
              </a>
              <a
                href={generateEmailLink(desUrlNames(query!, true), response)}
                target='_blank'
                rel='noopener noreferrer'
                class='animate-pulse hover-underline-animation-widget'
              >
                Email
              </a>
            </div>
          </div>
        ) : (
          <div class='space-y-2'>
            <p class='text-sm'>
              Email:{' '}
              <a
                href='mailto:adrian.alvarezalonso1991@gmail.com'
                class='hover-underline-animation-widget'
              >
                adrian.alvarezalonso1991@gmail.com
              </a>
            </p>
            <p class='text-sm'>
              Telefono:{' '}
              <a
                href='tel:34-647-31-72-14'
                class='hover-underline-animation-widget'
              >
                +34 647 31 72 14
              </a>
            </p>
            <p class='text-sm'>
              en la Web:{' '}
              <a
                href='https://www.linkedin.com/in/adrian-%C3%A1lvarez-alonso/'
                target='_blank'
                class='hover-underline-animation-widget'
              >
                LinkedIn
              </a>
              <span>/</span>
              <a
                href='https://github.com/N4N1T0'
                target='_blank'
                class='hover-underline-animation-widget'
              >
                Github
              </a>
            </p>
          </div>
        )
      }
    </div>
  </main>
  <div
    class='absolute bg-gray-800 w-screen inset-0 z-0 origin-bottom scale-0'
    id='courtin'
  >
  </div>
</Layout>

<style>
  .hover-underline-animation-widget {
    position: relative;
  }

  .hover-underline-animation-widget::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .hover-underline-animation-widget:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  html {
    scrollbar-color: #d1d5db #1f2937;
  }
</style>

<script>
  import anime from 'animejs/lib/anime.es.js'

  anime
    .timeline({
      easing: 'easeOutExpo'
    })
    .add({
      targets: '#courtin',
      scaleY: [0, 1],
      duration: 700
    })
    .add(
      {
        targets: '#info',
        opacity: 1,
        translateY: [50, 0],
        delay: anime.stagger(100),
        duration: 600
      },
      700
    )
</script>
