---
// Project Imports
import Layout from '@/layouts/Layout.astro'

// Utilities Imports
import { getPosts } from '@/lib'

// Astro get Collection
const allBlogPosts = await getPosts('es')
---

<Layout
  description='De origen cubano y autodidacta, aporto una mezcla única de pasión competencia al desarrollo y diseño web.'
  title='Adrian Alvarez Portfolio'
  border='border-gray-800'
>
  <main
    class='mt-20 min-h-screen w-screen overflow-hidden p-10 md:mt-0 md:h-screen md:p-24'
  >
    <div
      class='flex h-full flex-col items-center gap-16 md:mt-0 md:flex-row md:justify-around md:gap-32'
    >
      <div class='space-y-3 self-end opacity-0' id='info'>
        <h1 class='text-3xl font-semibold tracking-widest'>
          Adrian Alvarez Alonso
        </h1>
        <p class='text-sm'>Web Designer & Developer / Estratega de Marketing</p>
        <p class='text-sm'>
          De origen cubano y autodidacta, aporto una mezcla única de pasión y al
          desarrollo y el diseño. Obsesionado con el rendimiento y y dedicado a
          crear diseños limpios e impactantes, mi trabajo es un testamento de la
          fusión de habilidad y creatividad.
        </p>
        <br />
        <a
          href={`${Astro.site}en/Adrian_Alvarez_Alonso_CV.pdf`}
          target='_blank'
          class='cursor-pointer text-sm underline transition-colors duration-200 hover:text-gray-600'
          >Descarga mi CV</a
        >
      </div>
      <div
        class='font-prata opacity-0 [&>a]:block [&>a]:cursor-pointer [&>a]:text-[13.5vw] md:[&>a]:text-[9vw]'
        id='links'
      >
        <a
          href='/es/works'
          class='leading-[0.95em] transition-all duration-500 ease-out hover:translate-x-10 hover:-skew-x-12'
          ><h2>PROYECTOS</h2></a
        >
        <a
          href='/es/services'
          class='leading-[0.95em] transition-all duration-500 ease-out hover:translate-x-10 hover:-skew-x-12'
          ><h2>SERVICIOS</h2></a
        >
        <a
          href='/es/contact'
          class='leading-[0.95em] transition-all duration-500 ease-out hover:translate-x-10 hover:-skew-x-12'
          ><h2>CONTACTO</h2>
        </a>
        <a
          href='/es/blog'
          class='leading-[0.95em] transition-all duration-500 ease-out hover:translate-x-10 hover:-skew-x-12'
          ><h2>BLOG</h2></a
        >
      </div>
    </div>
  </main>
  <div
    class='absolute inset-0 z-50 w-screen origin-bottom bg-gray-800'
    id='courtin'
  >
  </div>
  <div
    id='modal'
    class='absolute bottom-5 right-5 z-40 hidden w-[300px] animate-bounce space-y-1 rounded-lg bg-gray-800 p-3 text-gray-100 opacity-0 hover:[animation-play-state:paused] md:block'
  >
    <h5 class='font-prata text-xl uppercase'>Articulo Nuevo</h5>
    <a
      class='block text-sm transition duration-200 ease-out hover:text-gray-400 hover:underline'
      href={`${Astro.site}es/blog/${allBlogPosts[0].id}`}
      >{allBlogPosts[0].data.title}</a
    >
  </div>
</Layout>

<script>
  import anime from 'animejs/lib/anime.es.js'

  anime
    .timeline({
      easing: 'easeInExpo'
    })
    .add({
      targets: '#courtin',
      scaleY: [1, 0],
      duration: 700
    })
    .add(
      {
        targets: '#info',
        opacity: 1,
        translateY: [40, 0],
        duration: 600
      },
      500
    )
    .add(
      {
        targets: '#links',
        opacity: 1,
        duration: 500,
        delay: anime.stagger(100)
      },
      900
    )
    .add(
      {
        targets: '#modal',
        opacity: 1,
        translateY: [10, 0],
        delay: 600,
        duration: 600
      },
      700
    )
</script>
