---
// Project Imports
import Layout from "@/layouts/Layout.astro";

// Utilities Imports
import { getPosts } from "@/lib";

// Astro get Collection
const allBlogPosts = await getPosts("es");
---

<Layout
  description='De origen cubano y autodidacta, aporto una mezcla única de pasión competencia al desarrollo y diseño web.'
  title='Adrian Alvarez Portfolio'
  border='border-gray-800'>
  <main class='min-h-screen w-screen overflow-hidden p-10 md:p-24 mt-20 md:mt-0'>
    <div
      class='h-full flex flex-col md:flex-row md:mt-0 md:justify-around items-center gap-16 md:gap-32'>
      <div class='space-y-3 self-end opacity-0' id='info'>
        <h1 class='font-semibold tracking-widest'>Adrian Alvarez Alonso</h1>
        <p class='text-sm'>
          Web Designer & Developer / Estratega de Marketing
        </p>
        <p class='text-sm'>
          De origen cubano y autodidacta, aporto una mezcla única de pasión y al
          desarrollo y el diseño. Obsesionado con el rendimiento y y dedicado a
          crear diseños limpios e impactantes, mi trabajo es un testamento de la
          fusión de habilidad y creatividad.
        </p>
        <br />
        <a
          href={`${Astro.site}en/Adrian_Alvarez_Alonso_CV.pdf`}
          target='_blank'
          class='underline hover:text-gray-600 transition-colors duration-200 cursor-pointer text-sm'
          >Descarga mi CV</a
        >
      </div>
      <div
        class='[&>a]:text-[13.5vw] md:[&>a]:text-[9vw] [&>a]:block font-prata [&>a]:cursor-pointer opacity-0'
        id='links'>
        <a
          href='/es/works'
          class='hover:-skew-x-12 hover:translate-x-10 transition-all duration-500 leading-[0.95em] ease-out'
          ><h2>PROYECTOS</h2></a
        >
        <a
          href='/es/services'
          class='hover:-skew-x-12 hover:translate-x-10 transition-all duration-500 leading-[0.95em] ease-out'
          ><h2>SERVICIOS</h2></a
        >
        <a
          href='/es/contact'
          class='hover:-skew-x-12 hover:translate-x-10 transition-all duration-500 leading-[0.95em] ease-out'
          ><h2>CONTACTO</h2>
        </a>
        <a
          href='/es/blog'
          class='hover:-skew-x-12 hover:translate-x-10 transition-all duration-500 leading-[0.95em] ease-out'
          ><h2>BLOG</h2></a
        >
      </div>
    </div>
  </main>
  <div
    class='absolute bg-gray-800 w-screen inset-0 z-50 origin-bottom'
    id='courtin'>
  </div>
  <div
    id='modal'
    class='absolute hidden md:block bg-gray-800 text-gray-100 rounded-lg p-3 w-[300px] z-40 bottom-5 right-5 space-y-3 opacity-0 animate-bounce hover:[animation-play-state:paused]'>
    <h5 class='uppercase font-prata text-xl'>Articulo Nuevo</h5>
    <a
      class='block hover:text-gray-400 hover:underline duration-200 transition ease-out text-sm'
      href={`${Astro.site}/es/blog/${allBlogPosts[0].slug}`}
      >{allBlogPosts[0].data.title}</a
    >
  </div>
</Layout>

<script>
  import anime from 'animejs/lib/anime.es.js'

  anime
    .timeline({
      easing: 'easeInExpo',
    })
    .add({
      targets: '#courtin',
      scaleY: [1, 0],
      duration: 700,
    })
    .add(
      {
        targets: '#info',
        opacity: 1,
        translateY: [40, 0],
        duration: 600,
      },
      500
    )
    .add(
      {
        targets: '#links',
        opacity: 1,
        duration: 500,
        delay: anime.stagger(100),
      },
      900
    )
    .add(
      {
        targets: '#modal',
        opacity: 1,
        translateY: [10, 0],
        delay: 600,
        duration: 600,
      },
      700
    )
</script>
