---
import { Image } from 'astro:assets'
import Layout from '@/layouts/Layout.astro'
import { NFCShowcase, NFCStyle } from '@/assets'
---

<Layout
  description='Sitio de Entrenador de Deportes de Combate usando las Nuevas tecnologías de Astro para crear máximo rendimiento y sitios estáticos SEO mejorados'
  title='Nano Fighters Club - Astro Sitio Estatico'
  label='Proyectos'
  link='/es/works'
  border='border-gray-800'>
  <main
    class='w-screen mt-20 md:mt-10 md:px-24 relative flex flex-col justify-center items-center gap-10 md:gap-20'>
    <div class='w-full bg-[#020817] text-center h-[700px] flex justify-center'>
      <h1
        class='font-prata text-[11vw] text-[#f64646] self-center md:self-end md:leading-[11rem]'>
        NANO FIGHTERS CLUB
      </h1>
    </div>
    <h2
      class='text-[7vw] md:text-[3vw] font-prata max-w-[700px] md:leading-[4rem] my-10 px-5 md:p-0'>
      Sitio de Entrenador de Deportes de Combate usando las Nuevas tecnologías
      de Astro para crear máximo rendimiento y sitios estáticos SEO mejorados en
      combinación con:
    </h2>
    <div
      class='flex flex-col md:flex-row justify-between items-start gap-3 md:gap-5 md:px-10 px-5'>
      <div class='flex-1 space-y-2'>
        <h3 class='font-bold md:text-lg'>Astro</h3>
        <p class='text-sm md:text-base'>
          Astro construye sitios de contenido rápido, potentes aplicaciones web,
          dinámicas API de servidor dinámicas y todo lo demás.
        </p>
        <a
          href='https://astro.build/'
          target='_blank'
          class='hover-underline-animation text-sm font-bold'>Mas info.</a
        >
      </div>
      <div class='flex-1 space-y-2'>
        <h3 class='font-bold md:text-lg'>Shadcn UI</h3>
        <p class='text-sm md:text-base'>
          Componentes bellamente diseñados que puedes copiar y pegar en tus
          aplicaciones. Accesibles. Personalizables. De código abierto.
        </p>
        <a
          href='https://ui.shadcn.com/'
          target='_blank'
          class='hover-underline-animation text-sm font-bold'>Mas info.</a
        >
      </div>
      <div class='flex-1 space-y-2'>
        <h3 class='font-bold md:text-lg'>Tailwind</h3>
        <p class='text-sm md:text-base'>
          Un marco CSS que da prioridad a las utilidades, repleto de clases como
          flex, pt-4, text-center y rotate-90 que pueden componerse para
          construir cualquier diseño directamente en tu marcado.
        </p>
        <a
          href='https://tailwindcss.com/'
          target='_blank'
          class='hover-underline-animation text-sm font-bold'>Mas info.</a
        >
      </div>
    </div>
    <Image src={NFCShowcase} alt='Nano Fighters Club Website Showcase' />
    <p class='max-w-[800px] px-5 md:px-0 text-sm md:text-base'>
      Para crear sitios estáticos dinámicos para pequeñas empresas, elijo Astro
      por su rendimiento ultrarrápido, que permite cargas de página rápidas y
      una y una experiencia de usuario excepcional. Shadcn contribuye al
      atractivo visual, proporcionando una solución robusta y eficiente para la
      generación de sombras, mejorando la estética del sitio sin comprometer la
      velocidad. Tailwind CSS agiliza el proceso de diseño, ofreciendo un
      enfoque basado en la utilidad que acelera que acelera el desarrollo al
      tiempo que mantiene un diseño pulido y sensible. Este trío Este trío
      formado por Astro, Shadcn y Tailwind combina a la perfección velocidad,
      atractivo visual y eficacia de diseño. visual y la eficacia del diseño, lo
      que permite a las pequeñas empresas estática que no sólo tiene un aspecto
      impresionante, sino que también funciona en línea.
    </p>
    <Image src={NFCStyle} alt='Nano Fighters Club Gold Website Style' />
  </main>
  <div
    class='fixed bottom-10 right-10 p-3 md:p-5 text-left rounded-lg space-y-2 bg-[#020817]'>
    <a
      href='https://github.com/N4N1T0/nfc-astro-shadcn'
      target='_blank'
      class='text-sm md:text-base hover-underline-animation-widget'>CODE</a
    >
    <a
      href='https://www.nanofighters.club/es/'
      target='_blank'
      class='text-sm md:text-base hover-underline-animation-widget'>LIVE</a
    >
  </div>
  <div
    class='absolute bg-gray-800 w-screen inset-0 z-0 origin-bottom'
    id='courtin'>
  </div>
</Layout>

<style>
  .hover-underline-animation-widget {
    display: block;
    position: relative;
    color: #f64646;
  }

  .hover-underline-animation-widget::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #f64646;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .hover-underline-animation-widget:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
</style>

<script>
  import anime from 'animejs/lib/anime.es.js'

  anime({
    targets: '#courtin',
    scaleY: [1, 0],
    duration: 700,
    easing: 'easeInExpo',
  })
</script>
