---
import { Image } from 'astro:assets'
import Layout from '@/layouts/Layout.astro'
import { StrikingGoldShowcase, StrikingGoldStyle } from '@/assets'
---

<Layout
  description=' Blog de deportes Powered by AI, Usando LLM Davinci para ajustar la voz de los articules con tecnologías de edición'
  title='Striking Gold - Blog Potenciado con IA'
  label='Proyectos'
  link='/es/works'
  border='border-gray-800'>
  <main
    class='w-screen mt-20 md:mt-10 md:px-24 relative flex flex-col justify-center items-center gap-10 md:gap-20'>
    <div class='w-full bg-[#f6cf68] text-center h-[700px] flex justify-center'>
      <h1
        class='font-prata text-[11vw] text-gray-950 self-center md:self-end md:leading-[11rem]'>
        STRIKING <br /> GOLD
      </h1>
    </div>
    <h2
      class='text-[7vw] md:text-[3vw] font-prata max-w-[700px] md:leading-[4rem] my-10 px-5 md:p-0'>
      Blog de deportes Powered by AI, Usando LLM Davinci para ajustar la voz de
      los articules con tecnologías de edición in situ y también:
    </h2>
    <div
      class='flex flex-col md:flex-row justify-between items-start gap-3 md:gap-5 md:px-10 px-5'>
      <div class='flex-1 space-y-2'>
        <h3 class='font-bold md:text-lg'>Next.js</h3>
        <p class='text-sm md:text-base'>
          Utilizado por algunas de las empresas más grandes del mundo, Next.js
          le permite crear aplicaciones web completas ampliando las últimas
          funciones de React e integrando potentes herramientas JavaScript
          basadas en Rust para las construcciones más rápidas.
        </p>
        <a
          href='https://nextjs.org/'
          target='_blank'
          class='hover-underline-animation text-sm font-bold'>Mas info.</a
        >
      </div>
      <div class='flex-1 space-y-2'>
        <h3 class='font-bold md:text-lg'>OpenAi</h3>
        <p class='text-sm md:text-base'>
          Empresa de investigación y despliegue de IA. Su misión es garantizar
          que la inteligencia artificial general beneficie a toda la humanidad.
        </p>
        <a
          href='https://openai.com/'
          target='_blank'
          class='hover-underline-animation text-sm font-bold'>Mas info.</a
        >
      </div>
      <div class='flex-1 space-y-2'>
        <h3 class='font-bold md:text-lg'>Prisma</h3>
        <p class='text-sm md:text-base'>
          Prisma desbloquea un nuevo nivel de experiencia para el desarrollador
          cuando trabaja con bases de datos gracias a su modelo de datos
          intuitivo y sus migraciones automatizadas. bases de datos gracias a su
          intuitivo modelo de datos, migraciones automatizadas seguridad de
          tipos y autocompletado.
        </p>
        <a
          href='https://www.prisma.io/'
          target='_blank'
          class='hover-underline-animation text-sm font-bold'>Mas info.</a
        >
      </div>
      <div class='flex-1 space-y-2'>
        <h3 class='font-bold md:text-lg'>TipTap</h3>
        <p class='text-sm md:text-base'>
          Tiptap es un conjunto de herramientas de código abierto para la
          edición de contenidos y la colaboración en tiempo real. colaboración
          en tiempo real para desarrolladores que crean aplicaciones como Notion
          o Google Docs. Docs.
        </p>
        <a
          href='https://tiptap.dev/'
          target='_blank'
          class='hover-underline-animation text-sm font-bold'>Mas info.</a
        >
      </div>
    </div>
    <Image src={StrikingGoldShowcase} alt='Striking Gold Website Showcase' />
    <p class='max-w-[800px] px-5 md:px-0 text-sm md:text-base'>
      Adoptar OpenAI para mi blog supone una revolución en la creación de
      contenidos. contenidos. Aprovechando sus avanzados modelos lingüísticos,
      aprovecho el poder del procesamiento del lenguaje natural para generar
      contenidos atractivos y contextualmente relevantes. lenguaje natural para
      generar artículos atractivos y contextualmente contextuales. Las
      capacidades de OpenAI elevan la calidad general de mis contenidos,
      haciéndolo más convincente y resonante para los lectores. Además, una
      herramienta de edición in situ como Tiptap mejora el proceso editorial,
      agilizando proceso editorial, agilizando la creación de contenidos con su
      interfaz intuitiva y intuitiva y repleta de funciones. Esta combinación no
      sólo agiliza el proceso de redacción, sino que sino que también garantiza
      una experiencia de edición fluida y colaborativa que, en última la
      eficacia y el impacto de mi blog.
    </p>
    <Image src={StrikingGoldStyle} alt='Striking Gold Website Style' />
  </main>
  <div
    class='fixed bottom-10 right-10 p-3 md:p-5 text-left rounded-lg space-y-2 bg-[#f6cf68]'>
    <a
      href='https://github.com/N4N1T0/sports-ai-blog'
      target='_blank'
      class='text-sm md:text-base hover-underline-animation-widget'>CODE</a
    >
    <a
      href='https://sports-ai-blog.vercel.app/'
      target='_blank'
      class='text-sm md:text-base hover-underline-animation-widget'>LIVE</a
    >
  </div>
  <div
    class='absolute bg-gray-800 w-screen inset-0 z-0 origin-bottom'
    id='courtin'>
  </div>
</Layout>

<style>
  .hover-underline-animation-widget {
    display: block;
    position: relative;
  }

  .hover-underline-animation-widget::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .hover-underline-animation-widget:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  html {
    scrollbar-color: #f6cf68 #baccfc;
  }
</style>

<script>
  import anime from 'animejs/lib/anime.es.js'

  anime({
    targets: '#courtin',
    scaleY: [1, 0],
    duration: 700,
    easing: 'easeInExpo',
  })
</script>
