---
import { Image } from 'astro:assets'
import Layout from '@/layouts/Layout.astro'
import { TTStyle } from '@/assets'
---

<Layout
  description='Fullstack 3D Graphics App para una maqueta de camiseta usando color-pick, herramientas nativas y Dall-e IA'
  title='Three Shirt - 3D Graphics App'
  label='Proyectos'
  link='/es/works'
  border='border-gray-800'>
  <main
    class='w-screen mt-20 md:mt-10 md:px-24 relative flex flex-col justify-center items-center gap-10 md:gap-20'>
    <div class='w-full bg-[#dddddd] text-center h-[700px] flex justify-center'>
      <h1
        class='font-prata text-[11vw] text-black self-center md:self-end md:leading-[11rem]'>
        THREE SHIRT
      </h1>
    </div>
    <h2
      class='text-[7vw] md:text-[3vw] font-prata max-w-[700px] md:leading-[4rem] my-10 px-5 md:p-0'>
      Fullstack 3D Graphics App para una maqueta de camiseta usando color-pick,
      herramientas nativas y Dall-e IA de ideas para crear diseños
    </h2>
    <div
      class='flex flex-col md:flex-row justify-between items-start gap-3 md:gap-5 md:px-10 px-5'>
      <div class='flex-1 space-y-2'>
        <h3 class='font-bold md:text-lg'>Three.js</h3>
        <p class='text-sm md:text-base'>
          Three.js es una biblioteca ligera escrita en JavaScript para crear y
          mostrar gráficos animados por ordenador en 3D en un navegador web y
          puede con el elemento canvas de HTML5, SVG o WebGL.
        </p>
        <a
          href='https://threejs.org/'
          target='_blank'
          class='hover-underline-animation text-sm font-bold'>Mas info.</a
        >
      </div>
      <div class='flex-1 space-y-2'>
        <h3 class='font-bold md:text-lg'>Vite</h3>
        <p class='text-sm md:text-base'>
          Es una herramienta de construcción que tiene como objetivo
          proporcionar una más rápida y ágil para proyectos web modernos.
        </p>
        <a
          href='https://es.vitejs.dev/'
          target='_blank'
          class='hover-underline-animation text-sm font-bold'>Mas info.</a
        >
      </div>
      <div class='flex-1 space-y-2'>
        <h3 class='font-bold md:text-lg'>DALL-E</h3>
        <p class='text-sm md:text-base'>
          Empresa de investigación y despliegue de IA. Su misión es garantizar
          que la inteligencia artificial general beneficie a toda la humanidad.
        </p>
        <a
          href='https://openai.com/'
          target='_blank'
          class='hover-underline-animation text-sm font-bold'>Mas info.</a
        >
      </div>
    </div>
    <Image src={TTStyle} alt='Finance Clover Website Showcase' />
    <p class='max-w-[800px] px-5 md:px-0 text-sm md:text-base mb-5'>
      Combinando la destreza de Three.js, Vite y React, esculpo una aplicación
      full-stack donde la creatividad no tiene límites. Con Three.js, creo una
      maqueta de camiseta que los usuarios pueden personalizar sin problemas.
      Vite acelera Vite acelera el desarrollo, garantizando una experiencia
      front-end rápida y receptiva, mientras que React agiliza las interacciones
      de la interfaz de usuario. En el backend, aprovecho la magia magia
      generativa de DALL-E para crear logotipos únicos, enriqueciendo las
      posibilidades de personalización. Esta amalgama de tecnologías tecnologías
      de vanguardia ofrece una experiencia visualmente en la que los usuarios
      pueden personalizar camisetas y logotipos en tiempo real, en tiempo real,
      marcando una nueva frontera en el ámbito de las aplicaciones interactivas
      y dinámicas.
    </p>
  </main>
</Layout>
<div
  class='fixed bottom-10 right-10 p-3 md:p-5 text-left rounded-lg space-y-2 bg-[#dddddd]'>
  <a
    href='https://github.com/N4N1T0/Tshirt-ThreeJS'
    target='_blank'
    class='text-sm md:text-base hover-underline-animation-widget'>CODE</a
  >
  <a
    href='https://tshirt-three-js-nu.vercel.app/'
    target='_blank'
    class='text-sm md:text-base hover-underline-animation-widget'>LIVE</a
  >
  <div
    class='absolute bg-gray-800 w-screen inset-0 z-0 origin-bottom'
    id='courtin'>
  </div>
</div>

<style>
  .hover-underline-animation-widget {
    display: block;
    position: relative;
    color: black;
  }

  .hover-underline-animation-widget::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .hover-underline-animation-widget:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  html {
    scrollbar-color: #dddddd #baccfc;
  }
</style>

<script>
  import anime from 'animejs/lib/anime.es.js'

  anime({
    targets: '#courtin',
    scaleY: [1, 0],
    duration: 700,
    easing: 'easeInExpo',
  })
</script>
